/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

@font-face {
  font-family: 'icons';
  src: url("../icons/fonts/icomoon.eot") format("eot"), 
  url("../icons/fonts/icomoon.woff") format("woff"),
  url("../icons/fonts/icomoon.ttf") format("truetype");
}


.fr { float: right; }
.fl { float: left;  }
.abs { position: absolute; }
.m10 { margin-bottom: -10px; }
.w60 { width: 60%; }
.w35 { width: 35%; }
.center { text-align: center; }

@mixin whiteGradient() { 

	background: #d9d9d9; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

* { 

	margin: 0;
	padding: 0;
	@include box-sizing(border-box);

}

body { 
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	background: url("../images/concrete_wall.png");
	color: #454545;

	&:after { 

		position: absolute;
		content: "";
		left: 0;
		top: 100px;
		height: 185px;
		width: 100%;
		z-index: -1;
		background: url("../images/woven.png");
		pointer-events: none;
		@include box-shadow(inset 0px 3px 15px #000);
		border-top: 1px solid #777;
		border-bottom: 1px solid #666;

	}
}

.content-wrapper { 
	width: 960px; 
	display: block;
	margin: 20px auto;
	@include box-shadow(0px 3px 4px #000, inset 0px 0px 4px #fff);
	background: #f9f9f9;
	position: relative;
}

#map-canvas {

	height: 300px;
	width: 960px;
	margin: 30px auto;
	display: block;
	position: relative;
	border-bottom: 1px solid #ccc;
	@include box-shadow(0px 6px 29px #161616);

	&:before {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		width: 30%;
		height: 290px;
		@include opacity(.67);
		background: url("../images/sheen.png");
		pointer-events: none;
		z-index: 1100;
	}

	.map-help {

		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 60px;
		z-index: 1111;
		padding: 10px;
		background: #f9f9f9;


	}

}

h1 { 
	font-size: 2.9rem;
	padding: 20px;
	text-align: center;
	font-weight: bold;
}

h2 { 
	font-size: 1.7rem;
	padding: 10px;
	margin-left: 3%;
	border-bottom: 1px solid #ddd;
}

p {
	font-size: 1rem;
	line-height: 1.55rem;
	text-indent: 1em;
	padding: 15px 25px;
}
.button { 

	display: inline-block;
	padding: 12px 18px;
	margin: 3px 10px;
	border: none;
	outline: none;
	@include border-radius(3px);
	@include box-shadow(0px 1px 1px #555, inset 0px 0px 4px rgba(255,255,255,.85));
	border-top: 1px solid #f9f9f9;
	cursor: pointer;
	background: rgb(221,22,22); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(221,22,22,1) 0%, rgba(178,3,3,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,22,22,1)), color-stop(100%,rgba(178,3,3,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(221,22,22,1) 0%,rgba(178,3,3,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(221,22,22,1) 0%,rgba(178,3,3,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(221,22,22,1) 0%,rgba(178,3,3,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(221,22,22,1) 0%,rgba(178,3,3,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd1616', endColorstr='#b20303',GradientType=0 ); /* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
	text-shadow: 0px 1px 4px #454545;
	color: #fcfcfc;
	text-align: center;
	font-size: 1rem;
	position: relative;
	margin-top: -7px;

	&:hover {

		background: #A80303;

	}

}

.list-button { 

	width: 10%;
	height: 65px;
	display: inline-block;
	line-height: 65px;
	border-left: 1px solid #e1e1e1;;
	text-align: center;
	color: #555;
	float: right;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
	text-shadow: none;

	&:hover { 

		background: #f9f9f9;
		text-decoration: underline;

	}

}

.location-list { 
	border: 1px solid #e1e1e1;
	width: 95%;
	margin: 10px auto;
	@include clearfix();

	li { 

		padding-left: 3%;
		text-shadow: 0px 1px 0px #fff;
		display: block;
		width: 100%;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #e1e1e1;
		border-left: 1px solid #fff;
		min-height: 60px;
		line-height: 60px;
		background: #f0f0f0;
		@include clearfix();
		position: relative;



		&:hover { 
			background: #e8e8e8;

		}

		span.name { 

			font-size: 1.7rem;
			color: #212121;
			margin-right: 20px;

		}
	}
}

.list-warning {

	display: block;
	height: 90%;
	width: 300px;
	max-width: 100%;
	margin: 0 auto;
	line-height: 25px;
	white-space: word-wrap;
	text-align: center;
	background: rgb(255,175,168); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,175,168,1) 0%, rgba(237,113,113,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,168,1)), color-stop(100%,rgba(237,113,113,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,175,168,1) 0%,rgba(237,113,113,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,175,168,1) 0%,rgba(237,113,113,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,175,168,1) 0%,rgba(237,113,113,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,175,168,1) 0%,rgba(237,113,113,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffafa8', endColorstr='#ed7171',GradientType=0 ); /* IE6-9 */
	@include border-radius(3px);
	@include box-shadow(0px 2px 4px #bbb);
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -100px;

}

.new-location-wrap { 

	display: none;
	background: #292929; //url("../images/diagmonds.png");
	padding: 16px 15px 8px;
	@include box-shadow(inset 0px 0px 20px #000);

}

input[type="text"] {

	display: inline-block;
	border: none;
	outline: none;
	height: 30px;
	line-height: 30px;
	font-size: 1.2em;
	padding: 6px;
}

.update-box { 

	position: absolute;
	display: none;
	left: 0;
	top: 0;
	width: 80.64%;
	height: 100%;
	background: #fdfdfd;
	@include box-shadow(0px 2px 4px #ccc);

	input { 

		border: 1px solid #ccc;
		margin: 6px;

		&:focus { border-color: #bbb; }

	}

}

.delete { 
	font-family: 'icons';
	font-size: 1.5em;
	color :#CE2E29;
	&:hover {

		text-decoration: none;

	}
}

.address { 

	display: inline-block;
}

#new-address { 



}

.success-check { 

	position: absolute;
	right: 20%;
	top: 6%;
	height: 55px;
	font-family: 'icons';
	width: 60px;
	@include border-radius(3px);
	@include whiteGradient();
	@include box-shadow(0px 2px 3px #ccc);
	@include opacity(.8);
	color: green;
	font-size: 1.6em;
	line-height: 55px;
	text-align: center;
	border: 1px solid #ccc;
}

.footer { color: #bbb; }

@media all and (min-width: 960px) { 

	#new-address { width: 50%; }
	#new-name { width: 35%;}
	.freq { text-align: center;}
}

@media all and (max-width: 960px) { 

	.content-wrapper, #map-canvas { 

		width: 95%;

	}

	input, #address { 
		width: 100%;
		margin: 10px 0;
	}

	.list-button { width: 15%; }


}