@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-cancel:before, .icon-star:before, .icon-checkmark:before, .icon-x:before, .icon-checkmark-2:before, .icon-key:before, .icon-key-2:before, .icon-arrow-up-right:before, .icon-arrow-up-left:before, .icon-arrow-down-right:before, .icon-arrow-down-left:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-cancel:before {
	content: "\e000";
}
.icon-star:before {
	content: "\e007";
}
.icon-checkmark:before {
	content: "\e002";
}
.icon-x:before {
	content: "\e003";
}
.icon-checkmark-2:before {
	content: "\e004";
}
.icon-key:before {
	content: "\e005";
}
.icon-key-2:before {
	content: "\e006";
}
.icon-arrow-up-right:before {
	content: "\e008";
}
.icon-arrow-up-left:before {
	content: "\e001";
}
.icon-arrow-down-right:before {
	content: "\e009";
}
.icon-arrow-down-left:before {
	content: "\e00a";
}
